@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin : 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #222;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00ff22, #1e00ffbd);
    color: #fff;
    margin: 30px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 0 50px #03ffea;
}


.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    height: 60px;
    padding: 10px 25px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    text-align: center;
    font-size: 70px;
    font-weight: 400;
    margin-top: -10px;
    width: 100%;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.col .col2{
    margin-right: 30px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -16px;
}

.humi, .win{
    font-size: 16px;
}


/* .weather {
    display: none;
} */

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 300;
    display: none;
}

@media (min-width: 738px) {
    .card{
        width: 95%;
    }
}


@media (max-width: 335px) {

    .card{
        margin-top: 50px;
        width: 95%  ;
    }

    .search input{
        width: 50%;
        font-size: 12px;
        height: 48px;
    }

    .search button{
        width: 40px;
        height: 40px;
    }

    .weather h1{
        font-size: 43px;
        font-weight: 500;
    }

    .weather h2{
        font-size: 43px;
    }

    .col{
        width: 100%;
        margin-right: 0px;
    }

    .col img{
        width: 20px;
        margin-right: 4px;
    }
    
    .humidity, .wind{
        font-size: 13px;
        margin-top: -16px;
    }

    .humi, .win{
        font-size: 15px;
    }
}
